# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
dotnet_style_readonly_field=true:suggestion

# Dotnet Solution files
[*.sln]
end_of_line = crlf
charset = utf-8

# Powershell files
[*.ps1]
nd_of_line = crlf
charset = utf-8

# Shell script files
[*.sh]
nd_of_line = lf
charset = utf-8

# Csharp code style settings:
[*.cs]
indent_style = space
indent_size = 4
tab_width = 4

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = warning

# Sort using and Import directives with System.* appearing first:
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Space settings:
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_before_colon_in_inheritance_clause = true


# Avoid "this." if not necessary:
dotnet_style_qualification_for_field = false:refactoring
dotnet_style_qualification_for_property = false:refactoring
dotnet_style_qualification_for_method = false:refactoring
dotnet_style_qualification_for_event = false:refactoring

# Use language keywords instead of framework type names for type references:
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning

# Field settings:
dotnet_style_readonly_field = true:refactoring

# Parameter settings:
dotnet_code_quality_unused_parameters = all:warning

# IDE0005: ReRemove unnecessary import
dotnet_diagnostic.IDE0005.severity = suggestion

# IDE0051: Remove unused private member
dotnet_diagnostic.IDE0051.severity = warning

# IDE0052: Remove unread private member
dotnet_diagnostic.IDE0052.severity = warning

# IDE0059: Unnecessary assignment to a value
dotnet_diagnostic.IDE0059.severity = warning
